---
language: node_js
node_js:
  - "6"

sudo: false

cache:
  directories:
    - $HOME/.npm
    - $HOME/.cache # includes bowers cache

# env forces jobs to be created from the top level settings
env:
jobs:
  include:
    - stage: moban
      language: python
      python: 3.6
      node_js: false
      cache: pip
      before_install: false
      install: pip install moban
      before_script: false
      script: .ci/check_moban.sh
      after_success: false
      before_deploy: false

before_install:
  - npm config set spin false

before_script:
  - bower install

script:
  - npm test

after_success:
  - codecov

before_deploy:
  - ember build --env production

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
  local_dir: dist
  name: Yana Agun Siswanto
  email: yana.developer@gmail.com
