<div class="layout-column">
  {{#paper-sidenav-container class="gsoc-organizations-list"}}
    {{#paper-sidenav
      class="md-whiteframe-z2"
      onToggle=(action (mut toggleSidenav))
      position="left"
      lockedOpen=toggleSidenav}}
      {{#paper-toolbar as |toolbar|}}
        {{#paper-toolbar-tools}}Task by Organizations{{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#paper-content primary=true padding=true}}
        {{#each organizations as |org|}}
          {{#paper-item onClick=(action "searchByOrg" org)}}
            <h4>{{org.name}}</h4>
          {{/paper-item}}
        {{/each}}
      {{/paper-content}}
    {{/paper-sidenav}}

    {{#paper-card-content class="flex"}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          {{#paper-button iconButton=true onClick=(action 'toggleSidenav')}}
            {{paper-icon "menu"}}
          {{/paper-button}}
          <h2>
            <h1 class="hide-xs">GSOC Preparation Tasks</h1>
            <h1 class="hide-gt-xs">GSOC Tasks</h1>
          </h2>
          <span class="flex"></span>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{search-card onSearch=(action "searchIssues") params=model}}
      {{outlet}}
    {{/paper-card-content}}
  {{/paper-sidenav-container}}
</div>
