<div class="layout-column">
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>
        <h1 class="hide-xs">GSOC Preparation Tasks</h1>
        <h1 class="hide-gt-xs">GSOC Tasks</h1>
      </h2>
      <span class="flex"></span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{search-card onSearch=(action "searchIssues") params=model}}
  {{outlet}}
</div>